<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="style.css">

    <title>MegaFit-Academia</title>
</head>

<body>
    <div class="container">    
    <nav>
        <a href="#session1">
            <img src="../../../assets/icons/favicon.ico" alt="">
        </a>
        <div class="sidebar">
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-link" href="#section2">Sobre</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Classes</a>
            </li>
            <li class="menu-item">
                <a class="menu-link">Portifolio</a>
            </li>
            <!-- <li class="menu-item">
                <a class="menu-link">Treinadores</a>
            </li> -->
            <li class="menu-item">
                <a class="menu-link">Pricing</a>
            </li>
            <!-- <li class="menu-item">
                <a class="menu-link" href="#Anal2">Feedback</a>
            </li> -->

            <div class="navbtn">
                <a>Contatos</a>
            </div>
        </ul>   
    </div>
        <div class="hamburguer">
            <span class="line" id="line1"></span>
            <span class="line" id="line2"></span>
            <span class="line" id="line3"></span>
        </div>
    </nav>

    <section id="session1">
        <main class="banner">
            <div class="section-title"> 
                <p class="mini-p">Tempo real para fitness</p>  
                <h1>Bem-vindo</h1>
                <h2>A saúde Fitness Club</h2>  
                
                <p>Ao contrário de uma infinidade de outros locais de bem-estar<br>
                    e estilo de vida saudável, como academias ou estúdios, não<br>
                    nos limitamos a apenas um campo.</p>
            </div>  

            <div class="img-wrapper">
                <img src="../../../assets/img/img4.png" alt="">
            </div>
            
        
        </main>
    </section>
    <main id="section2" class="section2">
        <div class="benefits">
            <div class="section-title2">
                <p class="mini-p">Impressões</p>
                <h1>Benefícios da </h1>
                    <h1>MegaFit-Academia</h1>

                <ul>
                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>Condicionamento físico</span>
                    </li>

                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>Exercícios</span>
                    </li>

                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>Alcançar um
                        Meta Específica</span>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-check"></i>
                        <span>Treinadores Pessoais</span>
                    </li>
                </ul>
            </div>

            <div class="img-wrapper">
                <img src="../../../assets/img/img2.jpg" alt="">
            </div>
    </div>
    </main>

</div>
<script src="../../../js/script.js"></script>
</body>

</html>