<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="icons/favicon.ico">
    <link rel="stylesheet" href="style.css">

    <title>MegaFit-Academia</title>
</head>

<body>
    <div class="container">    
    <nav>
        <a href="#session1">
            <img src="../../../assets/icons/favicon.ico" alt="">
        </a>
        <div class="sidebar">
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-link">Sobre</a>
            </li>
            <li class="menu-item">
                <a class="menu-link">Classes</a>
            </li>
            <li class="menu-item">
                <a class="menu-link">Portifolio</a>
            </li>
            <li class="menu-item">
                <a class="menu-link">Treinadores</a>
            </li>
            <li class="menu-item">
                <a class="menu-link">Pricing</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#Anal2">Feedback</a>
            </li>

            <div class="navbtn">
                <a>Contatos</a>
            </div>
        </ul>   
    </div>
        <div class="hamburguer">
            <span class="line" id="line1"></span>
            <span class="line" id="line2"></span>
            <span class="line" id="line3"></span>
        </div>
    </nav>

    <section id="session1">
        <main class="banner">
            <div class="section-title"> 
                <p class="mini-p">Tempo real para fitness</p>  
                <h1>Bem-vindo a MegaFit</h1>
                <h2>Saúde Fitness Club</h2>  
                
                <p>Ao contrário de uma infinidade de outros locais de bem-estar<br>
                    e estilo de vida saudável, como academias ou estúdios, não<br>
                    nos limitamos a apenas um campo.</p>
            </div>  

            <div class="img-wrapper">
                <img src="../../../assets/img/img1.jpg" alt="">
            </div>
            
        
        </main>
    </section>
    <main id="Anal2" class="Anal2">
        <h1>Anal 2</h1>
    </main>

</div>
<script src="../../../js/script.js"></script>
</body>

</html>