<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>
    <nav>
        <a href="#">
            <h1>LOGO</h1>
        </a>
        <ul>
            <li>
                <a>About</a>
            </li>
            <li>
                <a>Classes</a>
            </li>
            <li>
                <a>Portifolio</a>
            </li>
            <li>
                <a>Trainers</a>
            </li>
            <li>
                <a>Princing</a>
            </li>
            <li>
                <a>Testimonial</a>
            </li>
        </ul>
        <div class="navbtn">
            <a>Contact</a>
        </div>
    </nav>
    <section>
        <main>
            
        </main>
    </section>
</body>

</html>