@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Mulish:ital,wght@0,200;0,400;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
    --color-principal: rgb(134, 194, 228);
    --color-section-1: #abb8c3;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

nav {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

li {
    list-style: none;
}

li a {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.navbtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 48px;
    position: relative;
    border: 1.5px solid #9c9c9c;
    border-radius: 4px;
}

/* ------DashBoard------- */
@media screen and (max-width:900px){
    nav {
        width: 100%;
        height: 76px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hamburguer{
    width: 32px;
    height: 32px;
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}
.line{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:var(--color-principal);
    height: .16px;
    box-shadow: 0.1rem 0.1rem 1px #000;

} 
.sidebar{
    width: 14rem;
    height: 100vh;
    background-color:white ;
    position: fixed;
    top: 0;
    right: -18rem;
    transition: all 1s;
}

.sidebar.show-menu{
    right: 0;

}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align: center;
    margin-bottom: .41px;
}
.menu-link{
    font-family:"Baloo Da 2", serif ;
    font-size: 25px;
    color: black;
}

.menu-link:hover{
    color: var(--color-principal);
}

    
}





/*---------primeira sessão----------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.banner{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-title{
    padding-right: 30px;
}
.section-title h1,h2{
    font-family:"Roboto Condensed" ;
    font-size: 60px;
    font-weight: bolder;
}
.mini-p{
    font-family: "Mulish";
    font-weight: bold;
    margin-top: 20px;
    font-size: 15px;
    left: 15px;
    color: var(--color-principal);
}
.section-title p{
    font-family: "Mulish";
    font-weight: bold;
    margin-top: 20px;
    font-size: 15px;
    left: 15px;
}
.img-wrapper{
    display: flex;
}
.img-wrapper img{
    width: 500px;
    height: 400px;
}



.Anal2{
    width: 100%;
    height: 800px;
    background-color: #000;
}
.Anal2 h1{
    color: aliceblue;
}